/cache/*
/upload
/upgrade
/upgrades/backup
/upgrades/full
/upgrades/temp
/upgrades/langpack
/upgrades/patch
/upgrades/theme
/upgrades/module/*
/custom/blowfish/*
/custom/history/*
/*.zip
-restore
*.xml
*.log
*.idea
/*.lock
/*.json
/*.txt
/*.tar
*.ext.php
.htaccess
/test.php
!/vendor/**/*.xml
/password_set.php
orderMapping.php
*orderMapping.php
/quickRepairAndRebuild.php
/custom/Extension/application/Ext/Console/SugarPackageBuilderRegistry.php
/custom/src/Console/Command/SugarPackageBuilder
/portal2/config.js
.vscode/
/config_override.php
/config.php
/*.sql
